[defaults]
inventory = inventory.yml

# 実行結果の可読性向上
display_skipped_hosts = no
# 警告消し
interpreter_python = auto_silent

[callback_default]
result_format = yaml

[ssh_connection]
# SFTP転送をスキップし、SSH経由で直接Pythonコードを流し込む
pipelining = True
# スマート収集モード（キャッシュがあれば収集しない）
gathering = smart
# キャッシュの保存先と形式
fact_caching = jsonfile
fact_caching_connection = ./.ansible/facts_cache
fact_caching_timeout = 86400  # 24時間
